.float-action-button {
	color: #fff;
	background-color: #5e72e4;
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 56px;
	height: 56px;
	text-decoration: none;
	text-align: center;
	line-height: 45px;
	font-size: 40px;
	border-radius: 50px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
}