.tag {
	font-size: 1rem;
	padding: 5px 10px;
	color: #fff;
	border-radius: 20px;
	cursor: default;
	&:not(:last-child) {
		margin-right: 6px;
	}

	&.tag-color-mark {
		background-color: rgb(142, 140, 216);
		color: rgb(38, 67, 233);
		width: 28.4px;
		padding: 0;
		position: relative;
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 7px;
			left: 7px;
			right: 7px;
			bottom: 7px;
			border-radius: 20px;
			background: #fff;
			transform: scale(1);
			transition: transform .15s ease;
		}
		&:hover::after {
			transform: scale(0);
		}
	}
}